.gradient-background {
    background: linear-gradient(300deg, #DCD6F7, #424874, #A6B1E1);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    color:#F4EEFF;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  body {
    background-color: #F4EEFF;
  }
 .link{
    text-decoration: none;
 }
 .list{
 display: flex;
 flex-direction: column;
 align-items: center;
 align-content: center;
 justify-content: center;
 }

 #tv-films{
    align-items: center;
 align-content: center;
 justify-content: center;
    
 }

 #education{
    align-items: center;
    align-content: center;
    justify-content: center;
 margin-bottom: 30px;
 }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration:none;
    list-style-type: none;
    margin-bottom: 3px;
  }
  #features {
    background-color: #F4EEFF;
  }
  #contact {
    background-color: #F4EEFF;
  }
 html {
  background-color: #F4EEFF;
 }
 footer{
  background-color: #F4EEFF;
 }
 div div p a {
  text-decoration: none;
  color: #F4EEFF;
 }

 .container-projects {
  background-color: #F4EEFF;
 }

 .work-experience {
  background-color: #F4EEFF;
 }

 #moreabout{
  background-color: #F4EEFF;
 }

 .email{
  text-decoration: none;
  color: #F4EEFF;
 }
  .phone {
    text-decoration: none;
  color: #F4EEFF;
  }
  